body {
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  text-align: center;
  margin-right: 5px;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.comment {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

.sec {
  padding: 0.5em 1em;
    margin: 2em 0;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.btn {
  text-align: center;
}

.btn-inner {

  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: #6eb7ff;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
